#navbar{
    background-color: rgb(248, 150, 70);
    font-size: 35px;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif
}

.nav-link{
    color:white !important;
}

#rolling_text{
    color:white !important;
    margin-left: 350px;
    font-size: 35px;
    padding: 10px;
}

.linered:hover{
    color:rgb(255, 0, 0) !important;
}

.linegreen:hover{
    color:rgb(0, 255, 0) !important;
}

.lineblue:hover{
    color:rgb(61, 126, 212) !important;
}

.setRed{
    color:rgb(255, 0, 0) !important;
}

.setGreen{
    color:rgb(0, 255, 0) !important;
}

.setBlue{
    color:rgb(61, 126, 212) !important;
}