#navbar{
   font-size: 35px;
   background-color: #262627;
   border-radius: 0px;
   background: #ffffff;
   box-shadow: inset 31px 31px 62px #b8b8b8,
            inset -31px -31px 62px #ffffff;
}

.nav-link{
    color:black!important;
}

#rolling_text{
    color:black !important;
    margin-left: 200px;
    font-size: 35px;
    padding: 10px;
    text-decoration: underline;
}

.linered:hover{
    color:rgb(255, 0, 0) !important;
}

.linegreen:hover{
    color:rgb(78, 241, 113) !important;
}

.lineblue:hover{
    color:rgb(0, 80, 253) !important;
}

.setRed{
    color:rgb(255, 0, 0) !important;
}

.setGreen{
    color:rgb(78, 241, 113) !important;
}

.setBlue{
    color:rgb(0, 80, 253) !important;
}