#jumbotron{
   display:flex;
   margin:50px;
   border-radius: 20px;
   background: #ffffff;
   box-shadow: inset 31px 31px 62px #b8b8b8,
               inset -31px -31px 62px #ffffff;
}

#profilePhoto{
   margin: 10px;
}

#profileText{
   margin: 10px;
   color: black;
}

.setBorder{
   background-color:aqua;
}
